.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem;
    background-image: linear-gradient(red, white);
}

.header-menu{
    a{
        margin: 1rem; 
        text-decoration: none;
        color: black;
        &:visited{
            text-decoration: none;
            color: black;
        }
        &:link{
            text-decoration: none;
            color: black;
        }
    }
}